body{
    font-family:Montserrat;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(186,70,252,1) 100%);
    color:rgb(248, 239, 239);
}
a{
    color:rgb(233, 229, 238)
}

#uno,#dos,#tres{
    background-color:rgb(235, 232, 72);
   color:blueviolet;
    padding: 0.5%;
    width: 100px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 1px 3px 11px -5px rgb(190, 188, 18, .69);
   
    
}
  .wrapper{
    width: 90vw;
    height: 20vh;
    justify-content: space-between;
    display:flex;
    padding: 1em;
    
   }
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;

}
.menu a:hover{
    background-color: rgb(219, 217, 64);
    color:#421747;
    transition: ease-in .4s;

}
ul.menu li{
    list-style:none;
   
}
ul.menu a{
    text-decoration: none;
    padding: 10px 20px;
}
  h1 span{
    color:rgb(221, 218, 57);
    
  }

  p{
    font-size:larger;
    margin: 2%;
   
  }
  img{
   width: 20%;
   height: 20%;
   border-radius:10%;
   margin-left: 70%;
   }
  
div.encabezado{
    margin-top: -30%;
}
footer{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}